@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('truetype');
    font-weight: 400;
    font-style: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff2) format('truetype');
    font-weight: 700;
    font-style: swap;
}